.about {
  margin-bottom: clamp(180px, 16.949vw, 200px);

  @media (max-width: 992px) {
    margin-bottom: clamp(160px, 18.145vw, 180px);
  }

  @media (max-width: 768px) {
    margin-bottom: clamp(146px, 20.833vw, 160px);
  }

  @media (max-width: 576px) {
    margin-bottom: clamp(90px, 25.347vw, 146px);
  }

  &__wrapp {
    padding-bottom: 63px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    grid-gap: 45px;

    @media (max-width: 992px) {
      padding-bottom: 0;
    }

    @media (max-width: 768px) {
      grid-gap: 45px;
    }

    @media (max-width: 575px) {
      grid-gap: 35px;
    }
  }

  &__head,
  &__bot {
    display: grid;
    grid-template-columns: 1fr 550px;

    @media (max-width: 992px) {
      grid-template-columns: 1fr 450px;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr 390px;
    }

    @media (max-width: 576px) {
      grid-template-columns: 1fr 330px;
    }

    @media (max-width: 575px) {
      grid-template-columns: 100%;
      grid-gap: 20px;
    }
  }

  &__head {
    @media (max-width: 575px) {
      .h3 {
        font-size: 22px;
        line-height: 24px;
      }
    }
  }

  &__bot-left {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;

    &::before {
      content: '';
      position: absolute;
      background-image: var(--about-line);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 299px;
      height: 143px;
      left: 0;
      bottom: -40px;
      z-index: -1;

      @media (max-width: 992px) {
        width: 226px;
        height: 107px;
        left: 0;
        bottom: -16px;
      }

      @media (max-width: 768px) {
        bottom: -40px;
      }

      @media (max-width: 576px) {
        bottom: -20px;
        width: 150px;
        height: 72px;
      }
    }
  }

  &__right-descr {
    max-width: 440px;
    width: 100%;

    @media (max-width: 575px) {
      font-size: 16px;
      line-height: 20px;
    }
  }
}
