.coverage {
  margin-bottom: clamp(140px, 16.949vw, 200px);

  @media (max-width: 992px) {
    margin-bottom: clamp(100px, 14.113vw, 140px);
  }

  @media (max-width: 768px) {
    margin-bottom: clamp(80px, 13.021vw, 100px);
  }

  @media (max-width: 576px) {
    margin-bottom: clamp(60px, 13.889vw, 80px);
  }

  &__wrapp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-gap: 30px;
  }

  &__items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;

    @media (max-width: 767px) {
      grid-template-columns: 100%;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-gap: 30px;
    // background-color: var(--socials-bg);
    border-radius: 20px;
    padding: 50px;

    &::before {
      content: '';
      position: absolute;
      background-image: url('../img/reasons/coverage.png');
      inset: 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: -1;
      border-radius: 20px;
    }

    @media (max-width: 992px) {
      padding: 50px 30px 30px;
      grid-gap: 20px;
    }

    @media (max-width: 768px) {
      padding: 50px 20px 30px;
    }

    @media (max-width: 767px) {
      padding: 50px;
    }

    @media (max-width: 575px) {
      padding: 30px 15px;
    }
  }

  &__item-info {
    max-width: 440px;
    width: 100%;
    margin-bottom: 26px;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    flex-grow: 1;

    @media (max-width: 992px) {
      max-width: 380px;
    }

    @media (max-width: 767px) {
      max-width: 410px;
    }

    li {
      display: flex;
      align-items: center;
      grid-gap: 10px;

      svg {
        flex-shrink: 0;
      }

      @media (max-width: 992px) {
        grid-gap: 20px;

        br {
          display: none;
        }
      }

      @media (max-width: 768px) {
        grid-gap: 15px;

        p {
          font-size: 16px;
          line-height: 21px;
        }
      }

      @media (max-width: 575px) {
        grid-gap: 10px;

        p {
          // max-width: 193px;
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }
}
