.error {
  padding: 84px 0;

  &__wrapp {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  &__info {
    margin-bottom: 10px;
    color: var(--color-gold);
  }

  &__descr {
    max-width: 417px;
    margin-bottom: 23px;
  }
}
