header {
  width: 100%;
  position: fixed;
  padding: 20px 0;
  background-color: var(--color-main);
  z-index: 20;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    @media (max-width: 768px) {
      width: 90px;
    }
  }

  &__login {
    transition: 0.3s ease;

    @media (max-width: 767px) {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__nav {
    transition: 0.3s ease;

    ul {
      @media (max-width: 991px) {
        grid-gap: 20px;
      }
    }

    @media (max-width: 767px) {
      opacity: 0;
      visibility: hidden;
    }
  }
}
