.hero {
  padding: clamp(186px, 10.593vw, 215px) 0 clamp(150px, 16.071vw, 180px);


  @media (max-width: 992px) {
    padding: clamp(125px, 18.75vw, 186px) 0 clamp(130px, 15.121vw, 150px);
  }

  @media (max-width: 768px) {
    padding: clamp(89px, 16.276vw, 125px) 0 clamp(100px, 16.927vw, 130px);
  }

  @media (max-width: 576px) {
    padding: clamp(79px, 15.451vw, 89px) 0 clamp(70px, 17.361vw, 100px);
  }

  &__wrapp {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-gap: 120px;

    &::before {
      content: '';
      position: absolute;
      width: 497px;
      height: 497px;
      border-radius: 50%;
      background: rgba(243, 192, 37, 0.19);
      filter: blur(128.5px);
      top: 0;
      right: 0;
      z-index: -1;

      @media (max-width: 992px) {
        right: -150px;
      }

      @media (max-width: 768px) {
        right: -228px;
        top: 76px;
      }

      @media (max-width: 576px) {
        right: -270px;
        top: 76px;
      }

      @media (max-width: 575px) {
        right: -353px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      width: 644px;
      height: 644px;
      border-radius: 50%;
      background: rgba(44, 41, 80, 0.62);
      filter: blur(105.5px);
      top: 0;
      left: 0;
      z-index: -1;

      @media (max-width: 992px) {
        left: -130px;
        top: -10px;
      }

      @media (max-width: 768px) {
        left: -228px;
        top: 30px;
      }

      @media (max-width: 576px) {
        left: -400px;
        top: 30px;
      }

      @media (max-width: 575px) {
        left: -567px;
      }
    }

    @media (max-width: 991px) {
      grid-gap: clamp(80px, 8.333vw, 120px);
    }
  }

  &__title {
    @media (max-width: 576px) {
      max-width: 350px;
    }
  }

  &__head {
    width: 100%;
    display: grid;
    grid-template-columns: 445px clamp(450px, 37.5vw, 540px);
    grid-gap: 35px;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 991px) {
      grid-gap: 50px;
      max-width: 450px;
      display: flex;
      flex-direction: column-reverse;
    }

    @media (max-width: 768px) {
      align-items: flex-start;
    }

    @media (max-width: 576px) {
      max-width: 100%;
    }
  }

  &__head-descr {
    width: 100%;
  }

  &__btns {
    margin-top: clamp(30px, 6.989vw, 65px);

    @media (max-width: 991px) {
      margin-top: 30px;
    }

    @media (max-width: 575px) {
      flex-direction: column;
      grid-gap: 10px;
    }
  }

  &__achievements {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 575px) {
      flex-direction: column;
      grid-gap: 20px;
    }
  }

  &__achievements-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__achievements-numbers {
    font-size: 56px;
    line-height: 73px;

    @media (max-width: 768px) {
      font-size: 36px;
      line-height: 46px;
      white-space: nowrap;
    }
  }

  &__achievements-descr {
    max-width: 180px;
    font-weight: 500;
    color: var(--color-grey);
    text-align: center;
  }

  &__title {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: var(--hero-line);
      background-position: center;
      background-repeat: no-repeat;
      width: 346px;
      height: 100px;
      left: 0;
      bottom: -90px;
      transform: rotate(3deg);

      @media (max-width: 992px) {
        left: initial;
        right: 30px;
        bottom: -70px;
      }

      @media (max-width: 768px) {
        width: 260px;
        left: initial;
        right: 60px;
        bottom: -80px;
      }

      @media (max-width: 576px) {
        right: 0;
        width: 225px;
        height: 90px;
      }
    }
  }

  &__subtitle {
    @media (max-width: 576px) {
      max-width: 350px;
    }
  }
}
