.partners {
  margin-bottom: 172px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 71px;

  &__details {
    width: 100%;
    padding: 50px 0;
    background-color: var(--socials-bg);
  }

  &__sliders {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
    overflow: hidden;
  }

  &__slider-top {
    // margin-bottom: 30px;
  }

  &__slider-slide {
    width: fit-content;
  }

  &__item {
    height: 121px;
    width: 253px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 20px;
    filter: grayscale(1);
    transition: all 0.4s ease;
    cursor: pointer;

    &:hover {
      filter: grayscale(0);
    }
  }
}
