.partners {
  margin-bottom: clamp(120px, 14.576vw, 172px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: clamp(34px, 6.017vw, 71px);

  @media (max-width: 992px) {
    margin-bottom: clamp(100px, 12.097vw, 120px);
    grid-gap: 34px;
  }

  @media (max-width: 768px) {
    margin-bottom: clamp(80px, 13.021vw, 100px);
    grid-gap: 29px;
  }

  @media (max-width: 576px) {
    grid-gap: 42px;
    margin-bottom: 50px;
  }

  &__details {
    position: relative;
    width: 100%;
    padding: 50px 0;
    background-color: var(--socials-bg);
    z-index: 1;

    @media (max-width: 575px) {
      padding: 30px 0;
    }
  }

  &__sliders {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
    overflow: hidden;
  }

  &__slider-slide {
    max-width: 253px;
  }

  &__item {
    height: 121px;
    width: 253px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 20px;
    filter: grayscale(1);
    transition: all 0.4s ease;
    cursor: pointer;

    &:hover {
      filter: grayscale(0);
    }
  }

  &__title {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: var(--partners-icon);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 66px;
      height: 51px;
      right: -70px;
      top: -25px;

      @media (max-width: 575px) {
        top: -18px;
        width: 37px;
        height: 29px;
        right: -38px;
      }
    }
  }
}
