.payments {
  margin-bottom: clamp(120px, 13.559vw, 160px);

  @media (max-width: 992px) {
    margin-bottom: clamp(105px, 12.097vw, 120px);
  }

  @media (max-width: 768px) {
    margin-bottom: 88px;
  }

  @media (max-width: 576px) {
    margin-bottom: clamp(96px, 18.229vw, 105px);
  }

  &__wrapp {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-gap: clamp(50px, 7.056vw, 70px);
  }

  &__title {
    position: relative;
    text-align: center;

    &::before {
      content: '';
      position: absolute;
      background-image: var(--payments-line);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 240px;
      height: 25px;
      right: -30px;
      bottom: -30px;
      transform: rotate(3.19deg);

      @media (max-width: 992px) {
        width: 195px;
        height: 20px;
        right: -40px;
        bottom: -25px;
      }

      @media (max-width: 575px) {
        right: -10px;
        width: 110px;
        height: 12px;
        bottom: -17px;
      }
    }

    @media (max-width: 575px) {
      font-size: 20px;
      line-height: 22px;
    }
  }

  &__info {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: clamp(50px, 6.048vw, 60px);

    @media (max-width: 768px) {
      grid-gap: 32px;
    }

    @media (max-width: 576px) {
      grid-gap: 55px;
    }

    @media (max-width: 575px) {
      grid-gap: 25px;
    }
  }

  &__controls {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: 575px) {
      grid-template-columns: 100%;
    }
  }

  &__controls-item {
    padding: 32px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid var(--color-white);
    transition: all 0.4s ease;

    button {
      pointer-events: none;
    }

    &.active,
    &:hover {
      background-color: var(--color-gold);
      border: 1px solid var(--color-gold);
      color: var(--color-main);
    }

    .h2 {
      @media (max-width: 768px) {
        font-size: 16px;
        line-height: 21px;
      }

      @media (max-width: 575px) {
        padding: 0 50px;
      }
    }

    @media (max-width: 576px) {
      padding: 0;
      height: 70px;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: 992px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 33px;
    }

    @media (max-width: 768px) {
      grid-template-columns: 100%;
    }
  }

  &__content-info {
    max-width: 447px;
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 30px;

    @media (max-width: 992px) {
      height: 100%;
      justify-content: center;
      align-items: center;

      .h3 {
        font-size: 42px;
        line-height: 46px;
      }
    }

    @media (max-width: 768px) {
      max-width: 510px;
    }

    @media (max-width: 576px) {
      max-width: 447px;
    }

    @media (max-width: 575px) {
      .h3 {
        font-size: 28px;
        line-height: 30px;
      }
    }
  }

  &__content-status {
    max-width: 447px;
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 30px;

    span {
      display: block;
      margin-bottom: 15px;
      font-weight: 500;
    }
  }

  &__methods {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 55px 28px;

    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 24px 34px;
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 32px 36px;
    }

    @media (max-width: 576px) {
      grid-gap: 25px 18px;
    }

    @media (max-width: 575px) {
      grid-template-columns: repeat(2, 1fr);
    }

    li {
      position: relative;
      width: 166px;
      height: 166px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--footer-bg);
      border-radius: 20px;

      @media (max-width: 992px) {
        width: 100%;
        height: 131px;
      }

      @media (max-width: 768px) {
        height: 200px;
      }

      @media (max-width: 576px) {
        height: 150px;
      }

      @media (max-width: 575px) {
        height: 133px;

        svg {
          width: 70%;
          height: 70%;
        }
      }
    }
  }
}
