.reasons {
  margin-bottom: clamp(130px, 13.559vw, 160px);

  @media (max-width: 992px) {
    margin-bottom: clamp(120px, 13.105vw, 130px);
  }

  @media (max-width: 768px) {
    margin-bottom: clamp(100px, 15.625vw, 120px);
  }

  @media (max-width: 576px) {
    margin-bottom: clamp(60px, 13.021vw, 100px);
  }

  &__wrapp {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-gap: clamp(73px, 6.864vw, 81px);

    @media (max-width: 992px) {
      grid-gap: clamp(68px, 7.366vw, 73px);
    }

    @media (max-width: 768px) {
      grid-gap: clamp(58px, 8.854vw, 68px);
    }

    @media (max-width: 576px) {
      grid-gap: clamp(50px, 10.069vw, 58px);
    }
  }

  &__info {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

    @media (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 575px) {
      grid-template-columns: 100%;
    }
  }

  &__info-item {
    position: relative;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    text-align: center;

    span {
      display: flex;
      align-items: center;
      height: 178px;
    }

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: -1;
      border-radius: 20px;
    }

    &:first-child::before {
      background-image: url('../img/reasons/reason1.png');
    }

    &:nth-child(2)::before {
      background-image: url('../img/reasons/reason2.png');
    }

    &:nth-child(3)::before {
      background-image: url('../img/reasons/reason3.png');
    }

    &:nth-child(4)::before {
      background-image: url('../img/reasons/reason4.png');
    }

    &:nth-child(5)::before {
      background-image: url('../img/reasons/reason5.png');
    }

    &:last-child::before {
      background-image: url('../img/reasons/reason6.png');
    }
  }

  &__title {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: var(--reasons-line);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 200px;
      height: 21px;
      right: -50px;
      bottom: -30px;

      @media (max-width: 576px) {
        width: 140px;
        height: 20px;
        right: -40px;
        bottom: -25px;
      }
    }
  }
}
