.together {
  position: relative;
  padding-bottom: clamp(140px, 14.407vw, 170px);

  &::before {
    content: '';
    position: absolute;
    width: 527px;
    height: 527px;
    border-radius: 50%;
    background: rgba(37, 243, 95, 0.12);
    filter: blur(128.5px);
    bottom: -100px;
    right: -360px;
  }

  &::after {
    content: '';
    position: absolute;
    width: 527px;
    height: 527px;
    border-radius: 50%;
    background: rgba(44, 41, 80, 0.36);
    filter: blur(105.5px);
    bottom: 0;
    left: -270px;
    z-index: -1;
  }

  @media (max-width: 992px) {
    padding-bottom: clamp(100px, 14.113vw, 140px);
  }

  @media (max-width: 768px) {
    padding-bottom: 27px;
  }

  @media (max-width: 576px) {
    padding-bottom: clamp(72px, 23.264vw, 134px);
  }

  &__wrapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 30px;

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__info {
    max-width: 490px;
    display: flex;
    flex-direction: column;
    grid-gap: 50px;

    @media (max-width: 992px) {
      max-width: 375px;
      grid-gap: 30px;

      p {
        br {
          display: none;
        }
      }
    }

    @media (max-width: 768px) {
      max-width: 270px;

      .h3 {
        font-size: 24px;
        line-height: 28px;
      }

      p {
        font-size: 14px;
        line-height: 18px;
      }
    }

    @media (max-width: 767px) {
      max-width: 380px;

      .h3 {
        font-size: 36px;
        line-height: 39px;
      }

      p {
        font-size: 18px;
        line-height: 23px;
      }
    }

    @media (max-width: 575px) {
      max-width: 380px;

      .h3 {
        font-size: 28px;
        line-height: 30px;
      }

      p {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}
