<footer>
  <div class="container">
    <div class="footer">
      <div class="footer__head">
        <a class="logo" href="#">
          <svg width='255' height='51'>
            <use href='img/sprite/sprite.svg#logo'></use>
          </svg>
        </a>

        <div class="footer__btns btns">
          <button class="btn">
            <span>Стать веб-мастером</span>
          </button>
          <button class="btn btn--border">
            <span>Стать рекламодателем</span>
          </button>
        </div>
      </div>

      <div class="footer__bot">
        <span class="footer__copyright copyright"><span>2023</span> © Все права защищены. </span>

        <div class="footer__bot-left">
          <nav class="footer__nav nav">
            <ul>
              <li>
                <a class="nav__link" href="#about">О нас</a>
              </li>
              <li>
                <a class="nav__link" href="#">Как это работает</a>
              </li>
              <li>
                <a class="nav__link" href="#">Наши преимущества</a>
              </li>
              <li>
                <a class="nav__link" href="#">Нам доверяют</a>
              </li>
              <li>
                <a class="nav__link" href="#">FAQ</a>
              </li>
            </ul>
          </nav>

          <a class="policy" href="#">Политика конфиденциальности</a>
        </div>

        <div class="footer__bot-right">
          <ul class="footer__bot-details">
            <li>
              <svg width='24' height='24'>
                <use href='img/sprite/sprite.svg#location'></use>
              </svg>
              <span>Дмитровское ш., 3 корпус 2,<br> Москва, 127434</span>
            </li>
            <li>
              <svg width='24' height='24'>
                <use href='img/sprite/sprite.svg#phone'></use>
              </svg>
              <a href="tel:74993916710">+7 (499) 391-67-10</a>
            </li>
            <li>
              <svg width='24' height='24'>
                <use href='img/sprite/sprite.svg#mail'></use>
              </svg>
              <a href="mailto:info@liknot.ru">info@liknot.ru</a>
            </li>
          </ul>

          <a class="development" href="#">Разработка сайта</a>
        </div>
      </div>
    </div>
  </div>
</footer>

