<header>
  <div class="container">
    <div class="header">
      <a class="logo" href="#">
        <svg width='105' height='21'>
          <use href='img/sprite/sprite.svg#logo'></use>
        </svg>
      </a>

      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#">О нас</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Как это работает</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Для кого</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Выплаты</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">FAQ</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Конакты</a>
          </li>
        </ul>
      </nav>

      <button class="btn btn--login">
        <span>Войти</span>
        <svg width='24' height='24'>
        <use href='img/sprite/sprite.svg#login'></use>
        </svg>
      </button>
    </div>
  </div>


</header>
