<header>
  <div class="container">
    <div class="header">
      <a class="header__logo logo" href="/">
        <svg width='105' height='21'>
          <use href='img/sprite/sprite.svg#logo'></use>
        </svg>
      </a>

      <nav class="header__nav nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#about">О нас</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#details">Как это работает</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#coverage">Для кого</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#payments">Выплаты</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#faq">FAQ</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#contacts">Контакты</a>
          </li>
        </ul>
      </nav>

      <a href="https://www.liknot.ru/site/login" class="header__login btn btn--login">
        <span>Войти</span>
        <svg width='24' height='24'>
          <use href='img/sprite/sprite.svg#login'></use>
        </svg>
      </a>

      <div class="burger">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <div class="mobile">
        <div class="mobile__menu">
        </div>
    </div>
  </div>


</header>
