<div class="modal">
  <div class="modal__container" data-animation="fade" data-speed="300" data-target="subscribe">
    <div class="modal__wrapper modal__wrapper-subscribe">
      <div class="modal__close">
        <svg width='24' height='24'>
          <use href='img/sprite/sprite.svg#delete'></use>
        </svg>
      </div>

      <div class="modal__subscribe subscribe">
        <p class="subscribe__title">Підпишіться на розсилку</p>

        <p class="subscribe__text">Дізнавайтесь першими про акції та новинки від видавництва ArtHuss</p>

        <form class="subscribe__form">
          <label class="subscribe__label">
            <input class="subscribe__email" type="text" placeholder="Email">
            <button class="subscribe__btn btn btn--subscribe">Підписатись</button>
          </label>
        </form>
      </div>
    </div>
  </div>

</div>
