h1 {
  font-size: 69px;
  line-height: 76px;
  letter-spacing: -0.035em;
  font-weight: 400;
}

.h2 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
}

.h3 {
  font-size: 44px;
  line-height: 48px;
  font-weight: 400;
}

h4 {
  max-width: 800px;
  width: 100%;
  margin-bottom: 32px;
  font-family: var(--font-family-gothampro);
  font-size: clamp(24px, 4.161vw, 32px);
  line-height: clamp(40px, 4.161vw, 32px);
  font-weight: 800;
  margin-top: 56px;
}

h5 {
  max-width: 800px;
  width: 100%;
  margin-bottom: 32px;
  font-family: var(--font-family-gothampro);
  font-size: clamp(21px, 3.121vw, 24px);
  line-height: clamp(24px, 4.161vw, 32px);
  font-weight: 800;
  margin-top: 56px;
}
